In [8]:
import numpy as np
import pandas as pd

In [9]:
a = np.array([1,2,3])
print(a)

[1 2 3]

In [10]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /content/mckinsey.csv
100% 83.8k/83.8k [00:00<00:00, 130MB/s]

In [11]:
df = pd.read_csv("mckinsey.csv")

In [12]:
print(df.ndim)
print(df.shape)
print(type(df))

2
(1704, 6)
<class 'pandas.core.frame.DataFrame'>

In [13]:
print(df)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [14]:
print(df.columns)

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [15]:
df.loc[0,'year']

1952

In [16]:
df.loc[0:2]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710

In [17]:
df.loc[[0,100,500,1000],['country','life_exp']]

          country  life_exp
0     Afghanistan    28.801
100    Bangladesh    45.252
500       Eritrea    49.991
1000     Mongolia    53.754

In [18]:
df.loc[[0,100,500,1000],'country':'country'].shape

(4, 1)

In [ ]:
print(df)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [ ]:
print(df.describe(include ='all'))

            country        year    population continent     life_exp  \
count          1704  1704.00000  1.704000e+03      1704  1704.000000
unique          142         NaN           NaN         5          NaN
top     Afghanistan         NaN           NaN    Africa          NaN
freq             12         NaN           NaN       624          NaN
mean            NaN  1979.50000  2.960121e+07       NaN    59.474439
std             NaN    17.26533  1.061579e+08       NaN    12.917107
min             NaN  1952.00000  6.001100e+04       NaN    23.599000
25%             NaN  1965.75000  2.793664e+06       NaN    48.198000
50%             NaN  1979.50000  7.023596e+06       NaN    60.712500
75%             NaN  1993.25000  1.958522e+07       NaN    70.845500
max             NaN  2007.00000  1.318683e+09       NaN    82.603000

              gdp_cap
count     1704.000000
unique            NaN
top               NaN
freq              NaN
mean      7215.327081
std       9857.454543
min        241.165876
25%       1202.060309
50%       3531.846988
75%       9325.462346
max     113523.132900

In [ ]:
print(df)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.query('country == "Afghanistan" and life_exp >40 ')

        country  year  population continent  life_exp     gdp_cap
7   Afghanistan  1987    13867957      Asia    40.822  852.395945
8   Afghanistan  1992    16317921      Asia    41.674  649.341395
9   Afghanistan  1997    22227415      Asia    41.763  635.341351
10  Afghanistan  2002    25268405      Asia    42.129  726.734055
11  Afghanistan  2007    31889923      Asia    43.828  974.580338